body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    color: rgb(102, 102, 102);
    font-family: 'Yantramanav', sans-serif;
}

/* Navigation Styles */

.main-nav {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.main-nav h2 {
    margin-top: 10px;
}

.nav,
.topic h3 {
    margin: 0px;
    padding: 0px;
}

.nav li {
    list-style: none;  
    margin: 5px 15px 5px 15px;
    padding: 10px 0px 10px 0px;
    font-size: 1rem;
    background-color: white;  
}

/* Link styles */

a:link {
    text-decoration: none; 
    color: rgb(102, 102, 102);
    font-size: 0.95rem;
    font-weight: 900;
}

a:visited {
    color: rgb(102, 102, 102);        
}

a:hover {
    color: rgb(196, 161, 74);
}

a {
    transition: all .5s;
}

a:active {
    color: rgb(196, 161, 74);
}

/* Profile image styles */

.profimg-container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 130px;
    width: 60%;
    background-color: rgb(236, 236, 236);
}

.profile-img {
    height: 110px;
    width: 110px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid rgb(228, 228, 226);
}

/* Header styles */

.intro {
    margin-bottom: 45px;
    font-size: 1.2rem;
    color: rgb(143, 142, 142);
}

.intro p {  
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Main styles */
.topic {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.topic h3 {
    font-size: 0.95rem;
}

.topic h2 {
    font-size: 1.25rem;
}

.portfolio {
    width: 90%;
    margin-top: 50px;
}

.topic p {
    width: 75%;
    margin: auto;
}

/* aside styles */

.info {
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact,
.info p:nth-child(2) {
    margin-bottom: 30px;
}

.info p:nth-child(3) {
    margin-bottom: 20px;
}

.invite {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    color: rgb(143, 142, 142);
}

/* Footer styles */

.footer-list {
    width: 90%;
    margin: auto;
}

.footer-list {
    list-style-type: none;
    border: 1.2px solid rgb(235, 234, 234);
    width: 90%;
    padding: 0px;
    font-size: medium;
    font-weight: 900;
}

#myname {
    margin: 20px 0px 20px 0px;
    float: left;
    font-size: 1.1rem;
}

#back-top {
    margin: 20px 0px 20px 0px;
    float: right;
}

.nav-large {
    display: none;
}

/* STYLING FOR VIEWS ATLEAST 768px */
@media (min-width: 768px) {
    /* Navigation styles */
    .nav li {
        display: inline;
        background-color: rgb(250, 250, 250);
    }

    /* Header styles */
    .intro {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .intro p {
        margin-top: 40px;
        width: 55%;
        float: left;
        text-align: left;
    }

    .profimg-container {
        float: right;
        height: 150px;
        width: 40%;
    }

    .profile-img {
        height:125px;
        width: 125px;
    }

    .intro::after { 
        content: "";
        display: block; 
        clear: both;
      }

    /* Main styles */
    .topic {
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
    }

    .topic section {
        width: 50%;
        float: left;
    }
    
    .topic::after { 
        content: "";
        display: block; 
        clear: both;
    }

    .portfolio {
        width: 97%;
    }

    /* Aside styles */
    .info {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Footer styles */
    #back-top {
        display: none;
    }
    .nav-large {
        display: inline;
        float: right;
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav-large a {
        font-size: 0.9rem;
    }

}

/* STYLING FOR VIEWS ATLEAST 1024px */